mixin section-jobs

  -
    var breadcrumbs = [
      {
        name: 'Home',
        url: './index.html'
      },
      {
        name: 'Jobs',
        url: false
      }
    ]

  -
    var options = [
      {
        id: "0",
        title: "Date"
      },
      {
        id: "1",
        title: "Featured"
      },
      {
        id: "2",
        title: "Title"
      },
      {
        id: "3",
        title: "Job ID"
      },
      {
        id: "4",
        title: "Name"
      },
      {
        id: "5",
        title: "Date"
      }
    ]


  section.section&attributes(attributes)
    .container-fluid
      .container
        .grid
          .grid__column
            .filters.js-filters
              a.filters__close.js-filters-close
                i.fa.fa-times
              .filters__wrapper
                +headline('Job Categories')
                each item in jobCategories
                  .checked.js-checked
                    span.checked__title= item.title
                    span.checked__count= `(${item.count})`

                a.reset Reset

              .filters__wrapper
                +headline('Desired Salary')

                .slider
                  .slider__header
                    .slider__cell
                      input(id="salary-min" type="number" name="salary_min").slider__field
                    .slider__cell
                      p -
                    .slider__cell
                      input(id="salary-max" type="number" name="salary_max").slider__field
                  .slider__range
                    #salary-range

                +button('Filter').button--primary

              .filters__wrapper
                +headline('Job Types')
                each item in jobTypes
                  .checked.js-checked
                    span.checked__title= item.title
                    span.checked__count= `(${item.count})`
                a.reset Reset

          .grid__column
            .options
              +breadcrumbs(breadcrumbs)

              .filter-toggle.js-filter-toggle
                i.fa.fa-filter

            .grid__head
              .headline
                h3.headline__title
                  | Jobs currently
                  span available

              .actions
                a(data-sort="list").actions__item.js-actions-item
                  i.fa.fa-th-list
                a(data-sort="grid").actions__item.actions__item--active.js-actions-item
                  i.fa.fa-th

              a.sort-button.js-sort-button
                i.fa.fa-arrow-up

              +select(options).js-select

            .jobs.jobs--grid.js-jobs
              each item, index in jobs
                .open-positions__item
                  +card-job(item, true)(class=index === 0 && "card-job--active")

            +button('Load more listings').button--primary.load-more
